/*
   statusbar-overlay sets the background color for the overlay. Black text is the default when the statusbar plugin is not added. When the
   statusbar plugin is added, it also adds default setting to make the content white via:

       <preference name="StatusBarStyle" value="lightcontent"/>

   Setting the background color to black will allow the default light content (white text/icons) to show on it. The statusbar plugin is included
   in the config.xml file and will be added by the CLI when you build locally.

   See https://github.com/apache/cordova-plugin-statusbar
*/

.statusbar-overlay {
    background: #000000;
}
.centralizar
{
	text-align: -webkit-center;
}
.tema-azul
{
background: linear-gradient(#0064c0, #007aff) !important;	
}
.sem_shadownmenu
{
--f7-toolbar-bottom-shadow-image: white !important;	
--f7-toolbar-top-shadow-image: white !important;	
}
.list input[type=datetime-local]{max-width:100% !important}
/*FONT SIZE*/
.size-5 { font-size: 5px }
.size-10 { font-size: 10px }
.size-15 { font-size: 15px }
.size-20 { font-size: 20px }
.size-25 { font-size: 25px }
.size-30 { font-size: 30px }
.size-35 { font-size: 35px }
.size-40 { font-size: 40px }
.size-45 { font-size: 45px }
.size-50 { font-size: 50px }
.size-55 { font-size: 55px }
.size-60 { font-size: 60px }
.size-65 { font-size: 65px }
.size-70 { font-size: 70px }
.size-75 { font-size: 75px }
.size-80 { font-size: 80px }
.size-85 { font-size: 85px }
.size-70 { font-size: 70px }
.size-75 { font-size: 75px }
.size-80 { font-size: 80px }
.size-85 { font-size: 85px }
.size-90 { font-size: 90px }
.size-95 { font-size: 95px }
.size-100 { font-size: 100px }
.size-105{ font-size: 105px }
.md .toolbar .link{
	color: white;
}
.link .f7-icons{
	color: white;
}
.tabbar-label{
	color: white;
}
.md .icon-back{
	color: white;
}

:root {
  /*
  --f7-progressbar-progress-color: var(--f7-theme-color);
  */
}
.ios {
  --f7-progressbar-height: 2px;
  --f7-progressbar-border-radius: 2px;
  --f7-progressbar-bg-color: rgba(0, 0, 0, 0.3);
}
.ios .theme-dark,
.ios.theme-dark {
  --f7-progressbar-bg-color: rgba(255, 255, 255, 0.3);
}
.md {
  /*
  --f7-progressbar-bg-color: rgba(var(--f7-theme-color-rgb), 0.5);
  */
  --f7-progressbar-height: 4px;
  --f7-progressbar-border-radius: 0px;
}
.aurora {
  --f7-progressbar-height: 6px;
  --f7-progressbar-border-radius: 3px;
  --f7-progressbar-bg-color: #dbdbdb;
}
.aurora .theme-dark,
.aurora.theme-dark {
  --f7-progressbar-bg-color: #444;
}
 
/*************************** LIBERARCAO *****************************************/
.facebook-card-liberacao .card-header {
  display: block;
  padding: 10px;
  background-color: #007aff;
}
.facebook-card-liberacao .demo-facebook-avatar {
  float: left;
}
.facebook-card-liberacao .demo-facebook-name {
  margin-left: 44px;
  font-size: 14px;
  font-weight: 500;
  color: #FFF;
}
.facebook-card-liberacao .demo-facebook-name2 {
  margin-left: 85px;
  font-size: 18px;
  font-weight: 500;
  color: #FFF;
}
.facebook-card-liberacao .demo-facebook-date {
  margin-left: 44px;
  font-size: 13px;
  color: #FFF;
}
.facebook-card-liberacao .demo-facebook-motivo {
  margin-left: 85px;
  font-size: 16px;
  color: #FFF;
}
.facebook-card-liberacao .demo-facebook-status {
  margin-left: 85px;
  font-size: 16px;
  color: #FFF;
}
.facebook-card-liberacao .card-footer {
   background-color: #FAFAFA;
}
.facebook-card-liberacao .card-footer a {
  color: #81848b;
  font-weight: 500;
}
.facebook-card-liberacao .card-content p {
  padding: 0 10px ;
}
.facebook-card-liberacao .card-content-padding {
  padding: 15px 10px;
}
.facebook-card-liberacao .card-content-padding .likes {
  color: #81848b;
}

/*********************************************************/

.socialMidiaIcon{
  position: relative; top: 3px;
}
.alingElement{
  position: relative;
  text-align: center;
  top: 80px;
}
.alingElementCenter{
  position: relative;
  text-align: center;
}
.paddingTop10{
  margin-top: 10%;
}

.list_no_margin{
  margin: 0px !important;
}
.alingCenter{
  position: relative;
  left: 22%;
  top: 15px;
}
.white_ice{
  background-color: #efefef3d !important;
}
.left-6{
  left: 6px !important;
}
.rigth-6{
  right: 6px !important;
}
.left-10{
  position: relative;
  left: 10px !important;
}
.mb-2px{
  margin-bottom: 1px;
}
.moradorBloco{
  text-transform: capitalize;
}
.customFechar{
    border: solid 1px #2196f3;
    border-radius: 50px;
    font-weight: bold;
    background-color: #00000030;
    margin-right: 14px;
    height: 27px !important;
    width: 27px !important;
}

/*************************** Area Comum *****************************************/
.facebook-card-area .card-header {
  display: block;
  padding: 10px;
  background-color:#EAEAEA;
  color: #8e8e93;
}
.facebook-card-area .demo-facebook-avatar {
  float: left;
}
.facebook-card-area .demo-facebook-name {
  margin-left: 44px;
  font-size: 14px;
  font-weight: 500;
  color: #FFF;
}
.facebook-card-area .demo-facebook-name2 {
  margin-left: 85px;
  font-size: 18px;
  font-weight: 500;
  color: #FFF;
}
.facebook-card-area .demo-facebook-date {
  margin-left: 44px;
  font-size: 13px;
  color: #FFF;
}
.facebook-card-area .demo-facebook-motivo {
  margin-left: 85px;
  font-size: 16px;
  color: #FFF;
}
.facebook-card-area .demo-facebook-status {
  margin-left: 85px;
  font-size: 16px;
  color: #FFF;
}

.facebook-card-area .card-footer {
   background-color: #FAFAFA;
}
.facebook-card-area .card-footer a {
  color: #81848b;
  font-weight: 500;
}
.facebook-card-area .card-content p {
  padding: 0 10px ;
}
.facebook-card-area .card-content-padding {
  padding: 15px 10px;
}
.facebook-card-area .card-content-padding .likes {
  color: #81848b;
}

.hora{
	width:100%;
	height:22px;
	float:left;
	margin:0;
	/*border:1px solid #666;
	border-left: 4px solid;*/
	text-align:center;
	font-size:13px;
	background-color:#ee5569;
	color: black;
	padding-top: 4px;
    border-radius: 15px;
	margin-bottom: 1px;
}
/*********************************************************/

